<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.meyouhas.bowlingremi" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.meyouhas.bowlingremi.PlayerListActivity"
            android:label="@string/players_list"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.meyouhas.bowlingremi.SinglesScoresActivity"
            android:label="Enter Scores" />
        <activity
            android:name="com.meyouhas.bowlingremi.ChooseActionActivity"
            android:label="Choose Action" />
        <activity
            android:name="com.meyouhas.bowlingremi.SumSingleGameActivity"
            android:label="Game Results" />
        <activity
            android:name="com.meyouhas.bowlingremi.SumRemiActivity"
            android:label="Summary" />
        <activity android:name="com.meyouhas.bowlingremi.StartRemiActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.meyouhas.bowlingremi.GameHistoryActivity"
            android:label="Games History" />
        <activity android:name="com.meyouhas.bowlingremi.CouplesScoresActivity" >
        </activity>
        <activity android:name="com.meyouhas.bowlingremi.SumCoupleGameActivity" >
        </activity>
    </application>

</manifest>
